@font-face {
	font-family: 'Banny';
	src: url('../fonts/Banny-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Banny';
	src: url('../fonts/Banny-Bold.woff2') format('woff2');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-10deg);
    }
    20%, 40% {
        transform: rotate(10deg);
    }
}



* {
	margin: 0;
	padding: 0;
	border: 0;
	webkit-box-sizing: border-box;
	box-sizing: border-box;
}



p,h1,h2,h3,h4,h5,ul{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

h1{
	font-family: "Banny", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 96px;
	line-height: 1.45;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

h2{
	font-family: Banny;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
}


body{
	font-style: normal;
	font-family: "Open Sans", sans-serif;
	
	
}

body._lock{
	overflow: hidden;
}
section{
	overflow: hidden;
}

p{
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.fixed{
	position: fixed;
	top: 0;
	background: black;
	z-index: 50;
}
.fixed .nav img{
	width: 50px;
	height: 50px;
	margin-top: 10px;
	padding: 0;

}

.fixed .nav-list {
	height: 70px;
}

select,input, textarea{
	outline: none;
}

select:hover,input:hover, textarea:hover{
	border: 1px solid rgba(51, 51, 51, 0.5);;
}

select:focus,input:focus, textarea:focus{
	border: 1px solid rgba(51, 51, 51, 0.5);;
}

h3{
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.5em;

	text-transform: uppercase;

	color: #FFFFFF;
}
h4{
	font-family: Banny;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	/* or 100% */
	color: #333333;
}

b{
	font-size: 18px;
	line-height: 28px;
}
.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.btn-reset{
   padding: 0;
   border: none;
   background-color: transparent;
   cursor: pointer;
   transition: .3s ease-in-out;
   height: 60px;
   font-weight: 700;
   font-size: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #FFFFFF;

}

header{
	position: absolute;
	width: 100%;
}

.container{
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;

}
.nav{
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.nav-left, .nav-right {
	height: 100px;
}
.nav img{
	margin-top: 25px;
}
.nav-list{
	width: 100%;
	max-width: 520px;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 


}
.header-burger{
	display: none;
}

.nav-item{

	width: 100%;
	height: 100%;

	
}
.nav-item a{
	display: flex;
	width: 99%;
	height: 99%;
	justify-content:center;
	align-items: center;
	transition: all 0.6s;
	border: 0px solid transparent; 
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
}
.nav-item a:hover{
	border: 1px solid rgba(255, 255, 255, 0.4);
	color: #E8C300;



}

.nav-item a{
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
}


.hero{
	width: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/header-bg.png');
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 120px;


}

.hero::before {
    content: "";
    width: 1px;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 23%;
    background-color: rgba(255, 255, 255, 0.2);
}

.hero::after {
	content: "";
	width: 1px;
	height: 100vh;
	position: absolute;
	bottom: 0;
	right: 23%;
	background-color: rgba(255, 255, 255, 0.2);
}


.hero-content{
	z-index: 3;
	position: relative;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	min-height: 249px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}

.hero-content--left p{
	font-weight: 700;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: #fff;
	writing-mode: vertical-lr;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);

}

.hero-content--left{
	width: 60px;
	height: 260px;


}


.hero-content--center{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;


}




.border{
	background: #E8C300;
	border-radius: 50px;
	width: 60px;
	height: 5px;
	margin: 15px auto;
}
.buttons{
	display: flex;
	width: 440px;
	justify-content: space-between;
	margin: 15px auto;
	

}

.buttons span{
	justify-content: center;
}
.btn-table{
	position: relative;
	overflow: hidden;
	z-index: 1;
	width: 200px;
	text-transform: uppercase;
	background: #E8C300;
	border-radius: 5px;
	outline: none;
	transition: 1.5s;
}

.btn-table:before, .btn-table:after {
   content: "";
   position: absolute;
   height: 200px;
   left: -50%;
   margin-top: -100px;
   top: 50%;
   width: 200px;
   border-radius: 50%;
   opacity: 0.3;
   z-index: -1;
   transform: scale(0);
}


.btn-table:before {
   background: #ffeede;
   transition: .8s ease-out;
}
.btn-table:after {
   transition: .4s ease-in .3s;
}
.btn-table:hover {
   color: #000;
}
.btn-table:hover:before, .btn-table:hover:after {
   opacity: 1;
   transform: scale(4);
}


.btn-explore{
	position: relative;
	overflow: hidden;
	z-index: 1;
	width: 200px;
	text-transform: uppercase;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	outline: none;
	transition: all 1.5s ease 0s;
}

.btn-explore:before, .btn-explore:after {
   content: "";
   position: absolute;
   height: 200px;
   right: -50%;
   margin-top: -100px;
   top: 50%;
   width: 200px;
   border-radius: 50%;

   opacity: 0.3;
   z-index: -1;
   transform: scale(0);
}


.btn-explore:before {
   background: #ffeede;
   transition: .8s ease-out;
}
.btn-explorebtn-table:after {
   transition: .4s ease-in .3s;
}
.btn-explore:hover {
   color: #000;
   border: 1px solid transparent;
}
.btn-explore:hover:before, .btn-explore:hover:after {
   opacity: 1;
   transform: scale(4);
}



.btn-down{
	position: absolute;
	bottom: 8%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	border: 1px solid rgba(255,255,255,0.2);
	-webkit-transition: -webkit-transform 0.3s linear;
	transition: -webkit-transform 0.3s linear;
	-o-transition: transform 0.3s linear;
	transition: transform 0.3s linear, -webkit-transform 0.3s linear;


}
.down-arrow{
	width: 40px;
	height: 40px;
	display: block;
	font-size: 20px;
	color: #333333;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	background-color: white;
	
}

.down-arrow img{
	text-align: center;
}

.btn-down::before {
	content: "";
	width: 1px;
	height: 65vh;
	position: absolute;
	bottom: 100%;
	left: 50%;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.2);
}


.btn-down::after {
	content: "";
	width: 1px;
	height: 10vh;
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.2);
}
.down-arrow:hover {
   animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;

}
.btn-down:hover{
	border: 1px solid rgba(255,255,255,0.4);

}


.hero-content--right{
	width: 60px;
	padding-top: 14px;
}
.link-item{
	transition: all 0.4s ;
	opacity:0.5;
}
.link-item:not(:last-child){
	margin-bottom: 20px;
}

.link-item:hover{
	opacity:1;
	-webkit-transform: rotateZ(-360deg);
	-ms-transform: rotateZ(-360deg);
	transform: rotateZ(-360deg);


}

.about{
	padding: 100px 0 ;
	color: #000000;

}

.content{
	display: flex;

}

.content img{
	overflow: hidden;
	object-fit: cover;
}

.content-left{
	text-align: center;
	padding: 0 40px 0 20px;
	transform: translate(-120%, 0px);
	opacity: 0;
	transition: all 1s ease 0s;

}

.text{
	padding-top: 117px;
	text-align: center;
}
.content-flex{
	display: flex;
	position: relative;
}
.content-right{
	padding: 0 20px 0 40px;
	transform: translate(120%,0px);
	opacity: 0;
	transition: all 1s ease 0.2s;
	
}

.content-right img{
	padding-right: 125px;
	filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
	border-radius: 5px;
	width: 600px;
	height: 475px;
}
.content-left img{
	padding-left: 125px;
	filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
	border-radius: 5px;
	width: 600px;
	height: 475px;

}

.right-frame{
	position: absolute;
	border: 20px solid #E8C300;
	box-sizing: border-box;
	filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
	border-radius: 5px;
	width: 250px;
	height: 250px;
	right: 20px;
	transform: translateY(46%);
}

.left-frame{
	position: absolute;
	border: 20px solid #E8C300;
	box-sizing: border-box;
	filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
	border-radius: 5px;
	width: 250px;
	height: 250px;
	left: 20px;
	transform: translateY(46%);
}

.team{
	background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/team-bg.png');
	padding-bottom: 100px;
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	color: #fff;
}

.hair{
	height: 100px;
	display: flex;
	align-items: center;

	justify-content: center;
}

.table{
	padding-top: 100px;
}

.book-form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form_input {
	
	background: #E5E5E5;
	border-radius: 5px;
	font-weight:400;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-indent: 20px;
	color: rgba(51, 51, 51, 0.5);
	border: 1px solid transparent;
}

.book-form_input {
    margin-bottom: 10px;
    width: 273px;
    height: 58px;
}





.form_btn{
	position: relative;
	overflow: hidden;
	z-index: 1;
	width: 100%;
	text-transform: uppercase;
	background: #E8C300;
	border-radius: 5px;
	outline: none;
	transition: 1.5s;
}

.form_btn:before, .form_btn:after {
   content: "";
   position: absolute;
   height: 200px;
   left: -50%;
   margin-top: 100px;
   top: 50%;
   width: 50%;
   border-radius: 50%;
   opacity: 0.3;
   z-index: -1;
   transform: scale(0);
}


.form_btn:before {
   background: #ffeede;
   transition: .8s ease-out;
}
.form_btn:after {
   transition: .4s ease-in .3s;
}
.form_btn:hover {
   color: #000;
}
.form_btn:hover:before, .form_btn:hover:after {
   opacity: 1;
   transform: scale(4);
}


.table-text{
	max-width: 565px;
}

.hair p{

	font-size: 12px;
	line-height: 12px;
	/* or 100% */

	display: flex;
	align-items: center;
	text-align: center;

	color: rgba(51, 51, 51, 0.5);
}
.hair p span{
	font-weight: 700;
}

.specialties{
	background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/specialty-bg.png');
	color: #fff;
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	padding-bottom: 45px;

}

.content-slide{
	position: relative;
	overflow: hidden;
	min-height: 0;
}

.swiper-pagination-bullets {
	position: relative;
	margin-top: 50px;
}

.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet{
	margin:0 10px}


.swiper-pagination-bullet{
	background-color: #fff;
	width: 10px;
	height: 10px;
}





.menu{
	padding-bottom: 70px;
}
.menu-nav p{
	color: #000000;
}

.menu-text{
	padding-top: 100px;
	text-align: center;
	margin-bottom: 50px;
}

.menu-nav--list{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.menu-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 50px;
	padding: 0 10px;
	color: rgba(51, 51, 51, 0.6);
}
.menu-btn:hover{
	color: #333333;
}


.menu-btn--active{
	color: #333333;
}

.menu-btn:not(:last-child){
	border-right: 1px solid rgba(51, 51, 51, 0.2);

}
.menu-nav{
	
}

.menu-content{
	display: none;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.menu-content--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.menu-item{
	display: flex;
	margin-bottom: 30px;
}

.menu-desk{
	font-size: 12px;
	line-height: 18px;
	color: rgba(51, 51, 51, 0.5);
}
.menu-item--text{
	margin-right:13px ;
}


.menu-list:nth-child(1){
	transform: translate(-140%, 0px);
	opacity: 0;
	transition: all 1s ease 0.2s;
}
.menu-list:nth-child(2){

	opacity: 0;
	transition: all 1s ease 0.4s;
}
.menu-list:nth-child(3){
	transform: translate(140%, 0px);
	opacity: 0;
	transition: all 1s ease 0.2s;
}

.events{
	color: #fff;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/specialty-bg.png');
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
}
.events-text{
	font-family: Banny;
	font-weight: 700;
	font-size: 24px;
	line-height: 12px;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 1;
	text-transform: uppercase;
	position: absolute;
	color: #FFFFFF;
	width: 80px;
	height: 100%;
	background-color: #000000;
	text-indent: 20px;

}

.events-text--left{
	right: 40px;
	writing-mode: vertical-rl;

}


.events-text--right{
	left: 40px;
	writing-mode: vertical-rl;
	    transform: rotate(180deg);



}

.menu-hair p{
	color: rgba(255, 255, 255, 0.5);
}

.banner{
	display: flex;
	overflow: hidden; 

}
.banner-img{
	width: 25%;
	display: block;
	float: left;
	line-height: 0;
	height: auto;
}
.banner-img img{
	width: 100%;
}


.contact{
	padding-bottom: 100px;
}
.contact-form{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(4, 60px);
	grid-gap: 10px;
}

.content-form_input{
	grid-column: 2 span;
	grid-row: 1 span;
    

}

.content-form_textarea{
	grid-column: 6 span;
	grid-row: 2 span;
	text-indent: 0;
	padding: 20px;
	resize: none;
}

.address{ 
	background: url('../img/pin.svg');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 12px;
	grid-column: 1 span;
	grid-row: 1 span;

}

.phone{
	background: url('../img/telephone.svg');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 12px;
	grid-column: 1 span;
	grid-row: 1 span;
}
.mail{
	background: url('../img/email.svg');
	background-position: left center;
	background-repeat: no-repeat;
	grid-column: 1 span;
	background-size: 12px;
	grid-row: 1 span;
}

.content-form_footer {
	font-size: 12px;
	line-height: 12px;
	display: flex;
	align-items: center;
	color: rgba(51, 51, 51, 0.5);
	padding-left: 15px;

}

.contact-btn{
	grid-column: 3 span;
}
footer{
	background: rgba(0, 0, 0, 0.9);
}

.iframe{
	width: 100%;

}


.banner-img:nth-child(1){
	transform: translate(-140%, 0px);
	opacity: 0;
	transition: all 1s ease 0.4s;
}
.banner-img:nth-child(2){
	transform: translate(-120%, 0px);
	opacity: 0;
	transition: all 1s ease 0.2s;
}
.banner-img:nth-child(3){
	transform: translate(120%, 0px);
	opacity: 0;
	transition: all 1s ease 0.2s;
}
.banner-img:nth-child(4){
	transform: translate(140%, 0px);
	opacity: 0;
	transition: all 1s ease 0.4s;
}

.active, .active .anim-show {
	transform: translate(0px, 0px);
	opacity: 1;
}


@media (max-width: 1340px){
	.content-flex{
		width: ;
	
	}
	.content img{
		width: 525px;
		height: 400px;

	}
	.right-frame,.left-frame{
		width: 200px;
		height: 200px
	}
	.content-right img{
		padding-right: 100px;
	}
	.content-left img{
		padding-left: 100px;
	}
	.text{
		padding-top: 50px;
	}

}



@media (max-width: 1050px){
	.nav img{
		width:  90px;
		height: 90px;
		margin: 10px;
	}

	.hero-content{
		min-height: auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.link-list{
		display: flex;
		justify-content: center;

	}
	.hero-content--left{
		width: 260px;
		height: 60px;
	}
	.hero-content--left p{
		writing-mode: horizontal-tb;
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);

	}
	h1{
		font-size: 60px;
	}
	.link-item{
		margin: 0 10px;
	}

	.content{
		flex-direction: column;
	}
	.content-left{
		max-width: 600px;
		margin: 0 auto;


	}
	.content-right{
		max-width: 600px;
		margin: 0 auto;
	}
	.text{
		padding-top: 0;
		padding-bottom: 50px;
	}
	.team .content, .swiper-slide .content {
		flex-direction: column-reverse;
	}


	.table .content-right{
		display: none;
	}
	.book-form{
		flex-direction: column;
	}
	.book-form_input{
		width: 400px
	}
	h4{
		font-size: 16px;
	}
	.events .content {
		flex-direction: row;
	}

	.events .content img{
		width: 300px;
		height: 300px;
		padding: 0;
	}
	.events .right-frame,.events .left-frame{
		display: none;
	}
	.content-left, .content-right{
		padding: 0;
	}
	.events-text--left {
		right: 0;

	}
	.events-text--right{
		left: 0;
	} 
	.btn-down{
		display: none;
	}


	



}

@media (max-width: 650px){
	.active .nav{
		
	}
	.header-burger{
		z-index: 5;
		position: relative;
		display: block;
		width: 30px;
		height: 20px;
		margin: 20px 0;
	}
	.header-burger::before,.header-burger span,.header-burger::after{
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;

	}
	.header-burger::before,
	.header-burger::after{
		content: "";
	}
	.header-burger::before{
		top: 0;
	}
	.header-burger::after{
		bottom: 0;
	}
	.header-burger span{
		top: 50%;
		transform:scale(1) translate(0,-50%);
	}
	.header-burger._active span{
		transform:scale(0) translate(0,-50%);
	}

	.header-burger._active::before{
		top: 59%;
		transform: rotate(-45deg) translate(0px,-50%);
	}
	.header-burger._active::after{
		top: 50%;
		transform: rotate(45deg) translate(0px,50%);
	}

	.nav{
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 40px 30px 30px 30px;
		transition: all 0.6s ease 0s;
		flex-direction: column;
		overflow: auto;
		justify-content: flex-start;
		z-index: 4;


		
	}
	.nav-list:nth-child(1){
		padding-top: 60px;
	}
	.nav-list{
		flex-direction: column;
		border: none;
		justify-content: space-evenly;
		height: auto;
		max-width: none;

	}
	.nav-item{
		padding: 10px 10px;
	}
	.nav img {
		position: absolute;
		margin: 0;
		width: 50px;
		height: 50px;
		left: 50%;
		margin-left: -25px;

	}
	.nav-item a{
		font-size: 14px;
		width: auto;
		padding: 10px 10px;
	}
	header ._active{
		left: 0;
	}
	.fixed .nav-list{
		height: auto;
	}

	.hero{
		padding-top: 80px;
	}

	.menu-content--active{
		flex-direction: column;
		overflow: auto;
		height: 500px;	}
	.menu-item{
		justify-content: center;
	}
	.events .content{
		flex-direction: column;
	}
	.events .content .content-left{
		padding-bottom: 40px;
	}
	.events-text{
		width: 100%;
		height: 80px;
	}
	.events-text--left, .events-text--right{
		writing-mode: horizontal-tb;
		transform: rotate(0);
	}
	.content-form_input{
		grid-column: 6 span;
	}
	.content-form_footer{
		grid-column: 6 span;

	}
	.contact-btn{
		grid-column: 6 span;
	}
	h2{
		font-size: 30px;
	}
	.content img {
		padding: 0;
		width: 300px;
		height: 300px
	}
	
	.banner  {
		flex-direction: column;
	}
	.banner-img:nth-child(1){
		transform: translate(0px,0px);
		opacity: 1;
		width: 100%;

	}
	.banner-img:nth-child(2){
		transform: translate(0px,0px);
		opacity: 1;
		width: 100%;

	} 
	.banner-img:nth-child(3){
		transform: translate(0px,0px);
		opacity: 1;
		width: 100%;

	} 
	.banner-img:nth-child(4){
		transform: translate(0px,0px);
		opacity: 1;
		width: 100%;

	} .right-frame, .left-frame {
		display: none;
	}
	.btn-down{
		display: none;
	}
	.menu-nav{
		overflow-x: scroll;
	}
	.menu-nav--list{
		justify-content: flex-start;
	}





}

@media (max-width: 500px){
	.book-form_input{
		max-width: 300px;
	}
	.buttons{
		width: 85vw;
	}
	.buttons a{
		width: 38vw;
		height: 15vw;

	}
	.btn-down{
		display: none;
	}
	.right-frame, .left-frame {
		display: none;
	}

	.content-left, .content-right{
		max-width: 300px;
	}

	
	
}












